<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Anticipo Express</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">

</head>
<body>
    <aside class="barra-lateral"> <!--barra de navegacion-->
        <h2 class="logo">Anticipo Express</h2><!-- Logo del sistema -->
    
        <ul class="menu">
            <li><a href="{% url 'admin_inicio' %}" class="activo">Inicio</a></li>
            <li><a href="{% url 'admin_clientes' %}">Gestión de Clientes</a></li>
            <li><a href="{% url 'admin_productos' %}">Inventario y Productos</a></li>
            <li><a href="{% url 'admin_cuentas' %}">Cuentas por Cobrar</a></li>
            <li><a href="{% url 'admin_reportes' %}">Reportes de Ingreso</a></li>
        </ul>

    <!-- Botón para cerrar sesión -->
        <a href="{% url 'inicio_login' %}" class="logout">Cerrar Sesión</a>
    </aside>

<main class="contenido"> <!--contenedor principal -->

        <header class="encabezado"> <!--encabezado principal-->
            <h1>Resumen Ejecutivo</h1> <!-- Título de la página -->
                <div class="usuario">  
                    <p>¡Hola, Administrador!</p> <!-- Saludo al usuario -->
                <div class="avatar">A</div> <!-- Avatar del usuario -->
            </div>
        </header>

        
        <section class="tarjetas-superiores"> <!--seccion de tarjetas superiores-->

            <div class="tarjeta total"> <!--tarjeta con total-->
                <h1>$</h1>
                <h2>${{ ingresos_mes }}</h2> <!-- Monto total -->
                <p>COP</p> <!-- Tipo de moneda -->
                <small>{{ crecimiento }}% desde el mes pasado</small> <!-- Porcentaje de aumento -->
            </div>

            <div class="tarjeta deuda"> <!--tarjeta con clientes con deuda-->
                <h3>Clientes con Deuda</h3> 
                <h2>{{ clientes_deuda }}</h2>
                <p>{{ clientes_con_deuda }}</p>
                 
            </div>

            <div class="tarjeta productos"> <!-- Tarjeta que muestra productos existentes -->
                <h3>Productos Registrados</h3>  
                <h2>{{ total_productos }}</h2>
                <p>{{ categorias_activas }} Categorías activas</p>

            </div>

            <div class="tarjeta alertas"> <!--tarjeta con alertas activas-->
                <h3>Alertas Activas</h3>
                <h2>{{ alertas_stock }}</h2>
                <p>¡Prioridad de atención!</p>
            </div>
        </section>

        <section class="tarjetas-inferiores"> <!--seccion de tarjetas inferiores-->
            <div class="tarjeta grande stock"> <!--tarjeta con stock bajo-->
                <h3>Alertas de Stock Bajo ({{ alertas_stock }})</h3> 
                <ul>
                    {% for p in productos_stock_bajo %}
                        <li>{{ p.nombre }} — <span class="rojo">{{ p.stock }} unid.</span></li>
                    {% empty %}
                        <li>No hay productos con stock bajo</li>
                    {% endfor %}
                </ul>

            <a href="{%url 'admin_productos' %}" class="amarillo">Gestionar Inventario</a><!-- Botón que permitiría ir al inventario -->
        </div>

        <div class="tarjeta grande pagos"> <!--tarjeta con pagos fiados-->
            <h3>Pagos Fiados Próximos ({{ pagos_fiados|length }})</h3>

                <ul>
                    {% for c in pagos_fiados %}
                        <li>{{ c.cliente.nombre }} — 
                            <span class="fecha">Vence: {{ c.fecha_vencimiento }}</span>
                        </li>
                    {% empty %}
                        <li>No hay pagos próximos</li>
                    {% endfor %}
                </ul>

                <a href="{% url 'admin_cuentas' %}" class="azul">Ir a Cuentas por Cobrar</a><!-- Botón que permitiría ir a la cuentas por cobrar -->
            </div>
        </section>
    </main>
</body>
</html>